* {
    /*border: solid;
    border-color: white;*/
    margin: 0;
    padding: 0;
}

body {
    background-color: black;
    contain: content;
}

#ask-name {
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    width: 100%;
    margin-top: 10vh;
    text-align: center;
    font-size: 60px;
}

.project-container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    /*border-style: solid;
    border-color: red;*/
    opacity: 1.0;
}

.project-container > div {
    display: flex;
    text-align: center;
    flex-direction: column;

}

.project-container > div > div > p, a {
    background-color: orange;
    margin: auto;
    max-width: fit-content;

}


#firstP, #secondP, #thirdP, #fourthP {
    display: flex;
    border-radius: 15%;
    text-align: center;
    justify-content: space-between;
    padding: 125px;
    margin: 125px;
    margin-bottom: 50px;
    background-color: red;
    /*border-style: dotted;
    border-color: blue;*/
    opacity: 1.0;
}

/*#firstP {
    background-image: url('/pic/shark.JPG');
    background-size: cover;
    background-repeat: no-repeat;
    background-color: transparent;
}*/


.fadeIn {
    opacity: 0.0;
    position: absolute;
    left: 0;
    right: 0;
    top: 20vh;
    text-align: center;
    color: white;
    margin: 0;
    transition-property: opacity;
    transition-duration: 3s;
    transition-timing-function: ease-in-out;
}

.transformed-state-in {
    opacity: 1.0;
}

.transformed-state-out {
    opacity: 0.0;
}


@media only screen and (max-width: 1030px) {

    .project-container {
        flex-wrap: wrap;
    }


}

/*768*/
